{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block
content %}
<link href="/static/css/output.css" rel="stylesheet">
<body class="m-0 p-0 overflow-x-hidden font-primary">
  <header class="mb-12">
    <div class="flex justify-center text-center flex-col space-y-0"><!--MAIN TEXT-->
      <span class="font-bold text-5xl ">SVE STO TREBA</span>
      <span class="font-bold text-white text-7xl">DA ZNAS</span>
      <span class="font-bold text-5xl ">O NAMA</span>
    </div>
  </header>

  <section class="p-0 m-0">
    <div class="w-full h-100 lg:h-200 relative flex items-center justify-center overflow-hidden">

      <button id="prev" class="absolute top-1/2 -translate-y-1/2 left-3 z-10 bg-gray-400/60 text-white w-8 lg:w-16 h-24 lg:h-48 hover:bg-pink-300 hover:opacity-40">
        ❮
      </button>
      <button id="next" class="absolute top-1/2 -translate-y-1/2 right-3 z-10 bg-gray-400/60 text-white w-8 lg:w-16 h-24 lg:h-48  hover:bg-pink-300 hover:opacity-40">
        ❯
      </button>

      <ul class="list-none">
        <li class="absolute inset-0 opacity-100  transition-opacity duration-500">
          <img class="block w-full h-full object-cover object-center" src="/static/img/slika4.png" alt="">
        </li>
        <li class="absolute inset-0 opacity-0  transition-opacity duration-500">
          <img class="block w-full h-full object-cover object-center" src="/static/img/slika2.png" alt="">
        </li>
        <li class="absolute inset-0 opacity-0  transition-opacity duration-500">
          <img class="block w-full h-full object-cover object-center" src="/static/img/slika3.png" alt="">
        </li>
        <li class="absolute inset-0 opacity-0  transition-opacity duration-500">
          <img class="block w-full h-full object-cover object-center" src="/static/img/slika1.png" alt="">
        </li>
      </ul>
    </div>
  </section>

  <section class="mt-8 mx-4">
    <div class="tracking-widest"> 
      <div class="mb-20">
        <p class="text-3xl font-semibold md:text-5xl lg:font-bold text-center">Dobrodošli u 
          <span class="text-white font-semibold ">Naj...Naj</span>, omiljeno mesto za sve ljubitelje slatkih i slanih poslastica u samom srcu <span class="text-white font-semibold underline">Požarevca</span>!</p>
      </div>
      <div class="mt-20 text-xl">
        <p>Nalazimo se u centru grada i svakog dana za vas pripremamo najukusnije palačinke, sladolede, sendviče i milkšejkove. Bilo da ste raspoloženi za nešto slatko ili slano, kod nas ćete pronaći savršen uzitak koji će vas osvojiti već na prvi zalogaj.</p>
      </div>
      <div class="mt-20 text-xl">
        <p >U Naj...Naj verujemo da je kvalitet na prvom mestu – koristimo samo najbolje sastojke kako bismo vam pružili nezaboravno gastronomsko iskustvo. Naše palačinke su mekane i savršeno nadevene, sladoledi kremasti i osvežavajući, sendviči bogati i puni ukusa, a milkšejkovi pravo zadovoljstvo u čaši.</p>
      </div>
      <div class="mt-20 text-xl">
        <p>Dođite i uverite se zašto smo Naj...Naj mesto za uživanje u poslasticama u Požarevcu!</p>
      </div>
    </div>
  </section>
</body>

<script src="/static/about.js"></script>
{% endblock %}
