{% extends "base.html" %} {%block title%} Home {% endblock %} 
{% block content%}
<link href="/static/css/output.css" rel="stylesheet">
<!-- Slike -->


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa perspiciatis quas facilis architecto, iste magni, itaque cum quibusdam veritatis voluptas, maiores repellat harum. Maxime, voluptatibus assumenda! Velit delectus odit debitis perspiciatis voluptatem iste repellendus. Aperiam delectus consequuntur molestias iure quibusdam libero nemo sint facilis! Soluta eum omnis ea amet corporis.</p>

{% endblock %}
