{% extends "base.html" %} {%block title%} Home {% endblock %} 
{% block content%}
<section>
    <div class="container mx-auto my-36 px-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <!-- Card 1 -->
        <div class="card bg-gray-600 w-full shadow-sm">
          <figure>
            <img
              src="{{url_for('static',filename='img/hotdog.png')}}"
              alt="Hrana" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              Card Title
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Opis kartice ide ovde.</p>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div>
            </div>
          </div>
        </div>
  
        <!-- Card 2 -->
        <div class="card bg-gray-600 w-full shadow-sm">
          <figure>
            <img
              src="{{url_for('static',filename='img/hotdog.png')}}"
              alt="Hrana" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              Card Title
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Opis kartice ide ovde.</p>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div>
            </div>
          </div>
        </div>
  
        <!-- Card 3 -->
        <div class="card bg-gray-600 w-full shadow-sm">
          <figure>
            <img
              src="{{url_for('static',filename='img/hotdog.png')}}"
              alt="Hrana" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              Card Title
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Opis kartice ide ovde.</p>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div>
            </div>
          </div>
        </div>

        <div class="card bg-gray-600 w-full shadow-sm">
            <figure>
              <img
                src="{{url_for('static',filename='img/hotdog.png')}}"
                alt="Hrana" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">
                Card Title
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>Opis kartice ide ovde.</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div>
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
        </div>

          <div class="card bg-gray-600 w-full shadow-sm">
            <figure>
              <img
                src="{{url_for('static',filename='img/hotdog.png')}}"
                alt="Hrana" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">
                Card Title
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>Opis kartice ide ovde.</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div>
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
        </div>

          <div class="card bg-gray-600 w-full shadow-sm">
            <figure>
              <img
                src="{{url_for('static',filename='img/hotdog.png')}}"
                alt="Hrana" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">
                Card Title
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>Opis kartice ide ovde.</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div>
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
        </div>

          <div class="card bg-gray-600 w-full shadow-sm">
            <figure>
              <img
                src="{{url_for('static',filename='img/hotdog.png')}}"
                alt="Hrana" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">
                Card Title
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>Opis kartice ide ovde.</p>
              <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div>
                <div class="badge badge-outline">Products</div>
              </div>
            </div>
        </div>
  
        <!-- Card 4 -->
        <div class="card bg-gray-600 w-full shadow-sm">
          <figure>
            <img
              src="{{url_for('static',filename='img/hotdog.png')}}"
              alt="Hrana" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              Card Title
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Opis kartice ide ovde.</p>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  
    
{% endblock %}