{% extends "base.html" %} {%block title%} Home {% endblock %} 
{% block content%}
<h1 class="text-center mt-5 fw-bold mb-5">Category 1</h1>
<section class="my-5">
        <!-- Row 1 -->
        <div class="row mx-3">
          <!-- Card 1 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/hotdog.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/slana.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/statka.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 4 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 5 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 6 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Row 2 -->
        <div class="row mx-3">
            <!-- Card 1 -->
            <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
                <img src="{{url_for('static',filename='img/hotdog.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            </div>
            <!-- Card 2 -->
            <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
                <img src="{{url_for('static',filename='img/slana.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            </div>
            <!-- Card 3 -->
            <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
                <img src="{{url_for('static',filename='img/statka.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            </div>
            <!-- Card 4 -->
            <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
                <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            </div>
            <!-- Card 5 -->
            <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
                <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            </div>
            <!-- Card 6 -->
            <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
                <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            </div>
        </div>
        <!-- Row 3 -->
        <div class="row mx-3">
          <!-- Card 1 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/hotdog.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/slana.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/statka.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 4 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 5 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <!-- Card 6 -->
          <div class="col-xl-2 col-lg-2 col-md-6 mb-4">
            <div class="card custom-card">
              <img src="{{url_for('static',filename='img/wafle.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      
</section>
    
{% endblock %}